@import "tailwindcss";

@theme {
  --color-primary: #064e3b;
  --color-primary-light: #0d9488;
  --color-accent: #22c55e;
  --color-background: #f3f4f6;
  --color-card: #ffffff;
  --font-sans: var(--font-inter);
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  color: #171717;
}
